<div id="add-component" class="blog-content" onclick="addBlog()">
    <i class="fa-solid fa-plus" id="plus-symbol"></i>
    <div class="title">Add New Blog</div>
</div>

<script>
    function addBlog(){
        window.location.href =`/newblog`;
    }
</script>

