
<div class="footer">
    <h1 class="connect">Connect with me</h1>
    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> <span>instagram</span></a>

    <a href="https://www.linkedin.com/in/farhaan-ahmed-b55529239/" target="_blank" ><i class="fa-brands fa-linkedin"></i> <span>Linked in</span></a>

    <a href="https://github.com/Farhaan-Git/" target="_blank" ><i class="fa-brands fa-github"></i> <span>github</span></a>
</div>